@import "tailwindcss";
@import "tw-animate-css";

@layer base {
  :root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);

    --primary: var(--color-orange-600);
    --primary-foreground: var(--color-orange-50);
    --ring: var(--color-orange-400);
    --chart-1: var(--color-orange-300);
    --chart-2: var(--color-orange-500);
    --chart-3: var(--color-orange-600);
    --chart-4: var(--color-orange-700);
    --chart-5: var(--color-orange-800);
    --sidebar-primary: var(--color-orange-600);
    --sidebar-primary-foreground: var(--color-orange-50);
    --sidebar-ring: var(--color-orange-400);
    --sidebar: hsl(0 0% 98%);
  }
}